{% extends "layout.html" %} {% block content %}
<div class="container mt-4">
  <div class="row">
    <div class="col">
      <h1 class="text-center">Czat Hodowców Beagle</h1>
      <div id="chat" style="height: 300px; overflow-y: auto">
        {% for message in message_history %}
        <p>
          <span class="username">{{ message['username'] }}:</span>
          {{ message['content'] }}
        </p>
        {% endfor %}
      </div>
      <div class="text-center">
        <input
          type="text"
          id="username_input"
          placeholder="Nazwa użytkownika"
          class="form-control rounded w-25 mx-auto"
        />
        <input
          type="text"
          id="message_input"
          placeholder="Wpisz wiadomość"
          class="form-control rounded w-25 mx-auto"
        />
        <button onclick="sendMessage()" class="btn btn-warning mt-2">
          Wyślij
        </button>
      </div>
    </div>
  </div>
</div>
<h1 class="text-center mt-4">Galeria Zdjęć</h1>
<div class="container mt-4">
  <div class="row">
    {% for image in image_filenames %}
    <div class="col-md-4 mb-4">
      <img
        src="{{ url_for('static', filename='breeders/' + image) }}"
        class="img-fluid"
        alt="{{ image }}"
        style="height: 150px; height: 200px"
      />
    </div>
    {% endfor %}
  </div>
</div>

<script>
  var socket = io.connect("http://" + document.domain + ":" + location.port);

  // Funkcja do obsługi nowych wiadomości
  socket.on("message", function (msg) {
    $("#chat").append(
      '<p><span class="username">' +
        msg.username +
        ":</span> " +
        msg.content +
        "</p>"
    );

    // Dodaj nową wiadomość do historii
    history.push(msg);
  });

  // Pobieranie historii wiadości po podłączeniu się do strony
  socket.on("connect", function () {
    var sessionId = socket.id;
    socket.emit("get_history", { sessionId: sessionId });
  });

  // Obsługa historii chatu
  socket.on("history", function (history) {
    for (var i = 0; i < history.length; i++) {
      $("#chat").append(
        '<p><span class="username">' +
          history[i].username +
          ":</span> " +
          history[i].content +
          "</p>"
      );
    }
  });
  // Obsługa wysyłania wiadomości
  function sendMessage() {
    var username = $("#username_input").val();
    var content = $("#message_input").val();
    socket.emit("message", {
      username: username,
      content: content,
      chat: "breeders",
    });
    $("#message_input").val("");
  }
</script>
{% endblock %}
