{% extends "layout.html" %} {% block content %}
<div class="container mt-4">
  <div class="row">
    <div class="col">
      <h1 class="text-center">Czat Osób Zainteresowanych Zakupem Beagle</h1>
      <div id="chat" style="height: 300px; overflow-y: auto">
        {% for message in message_history %}
        <p>
          <span class="username">{{ message['username'] }}:</span>
          {{ message['content'] }}
        </p>
        {% endfor %}
      </div>
      <div class="text-center">
        <input
          type="text"
          id="username_input"
          placeholder="Nazwa użytkownika"
          class="form-control rounded w-25 mx-auto"
        />
        <input
          type="text"
          id="message_input"
          placeholder="Wpisz wiadomość"
          class="form-control rounded w-25 mx-auto"
        />
        <button onclick="sendMessage()" class="btn btn-warning mt-2">
          Wyślij
        </button>
      </div>
    </div>
  </div>
</div>
<h1 class="text-center mt-4">Oferty Sprzedaży</h1>
<h2 class="text-center mt-4">Dodaj ofertę sprzedaży psa</h2>
<div class="container mt-4">
  <form id="dogSaleForm">
    <div class="row">
      <div class="col-md-3">
        <label for="dogName">Imię psa:</label>
        <input
          type="text"
          id="dogName"
          name="dogName"
          class="form-control"
          required
        />
      </div>
      <div class="col-md-3">
        <label for="dogAge">Wiek psa:</label>
        <input
          type="number"
          id="dogAge"
          name="dogAge"
          class="form-control"
          required
        />
      </div>
      <div class="col-md-3">
        <label for="dogWeight">Waga psa:</label>
        <input
          type="number"
          id="dogWeight"
          name="dogWeight"
          class="form-control"
          required
        />
      </div>
      <div class="col-md-3">
        <label for="ownerData">Telefon właściciela:</label>
        <input
          type="text"
          id="ownerData"
          name="ownerData"
          class="form-control"
          required
        />
      </div>
    </div>
    <div class="text-center mt-3">
      <button type="button" onclick="addSaleOffer()" class="btn btn-warning">
        Dodaj ofertę
      </button>
    </div>
  </form>
</div>

<div class="container mt-4">
  <h2 class="text-center">Tabela ofert sprzedaży</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Imię psa</th>
        <th>Wiek</th>
        <th>Waga</th>
        <th>Nr telefonu</th>
      </tr>
    </thead>
    <tbody id="dogSaleTable">
      {% for offer in dogs_sale_offers %}
      <tr>
        <td>{{ offer.dogName }}</td>
        <td>{{ offer.dogAge }}</td>
        <td>{{ offer.dogWeight }}</td>
        <td>{{ offer.ownerData }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<script>
  var socket = io.connect("http://" + document.domain + ":" + location.port);

  // Funkcja do obsługi nowych wiadomości
  socket.on("message", function (msg) {
    $("#chat").append(
      '<p><span class="username">' +
        msg.username +
        ":</span> " +
        msg.content +
        "</p>"
    );

    // Dodaj nową wiadomość do historii
    history.push(msg);
  });

  // Pobieranie historii wiadomości po podłączeniu się do strony
  socket.on("connect", function () {
    var sessionId = socket.id;
    socket.emit("get_history", { sessionId: sessionId });
  });

  // Obsługa historii chatu
  socket.on("history", function (history) {
    for (var i = 0; i < history.length; i++) {
      $("#chat").append(
        '<p><span class="username">' +
          history[i].username +
          ":</span> " +
          history[i].content +
          "</p>"
      );
    }
  });

  // Obsługa otrzymywania danych oferty od serwera
  socket.on("dog_sale_offer", function (offer) {
    $("#dogSaleTable").append(
      "<tr><td>" +
        offer.dogName +
        "</td><td>" +
        offer.dogAge +
        "</td><td>" +
        offer.dogWeight +
        "</td><td>" +
        offer.ownerData +
        "</td></tr>"
    );
  });

  // Obsługa wysyłania wiadomości
  function sendMessage() {
    var username = $("#username_input").val();
    var content = $("#message_input").val();
    socket.emit("message", {
      username: username,
      content: content,
      chat: "dogbuy",
    });
    $("#message_input").val("");
  }

  function addSaleOffer() {
    var dogName = $("#dogName").val();
    var dogAge = $("#dogAge").val();
    var dogWeight = $("#dogWeight").val();
    var ownerData = $("#ownerData").val();

    // Wysłanie danych oferty na serwer
    socket.emit("dog_sale_offer", {
      dogName: dogName,
      dogAge: dogAge,
      dogWeight: dogWeight,
      ownerData: ownerData,
    });

    // Czyszczenie pól formularza
    $("#dogName").val("");
    $("#dogAge").val("");
    $("#dogWeight").val("");
    $("#ownerData").val("");
  }
</script>
{% endblock %}
