{% extends "layout.html" %} {% block content %}
<div class="container mt-4">
  <div class="row">
    <div class="col text-center">
      <a href="/breeders">
        <img
          src="/static/Images/breeders.png"
          alt="Hodowcy"
          class="img-thumbnail"
        />
      </a>
    </div>
    <div class="col text-center">
      <a href="/owners">
        <img
          src="/static/Images/owners.png"
          alt="Właściciele"
          class="img-thumbnail"
        />
      </a>
    </div>
    <div class="col text-center">
      <a href="/dogbuy">
        <img
          src="/static/Images/buydog.png"
          alt="Zakup"
          class="img-thumbnail"
        />
      </a>
    </div>
  </div>
</div>
{% endblock %}
