<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.socket.io/4.7.4/socket.io.min.js"
      integrity="sha384-Gr6Lu2Ajx28mzwyVR8CFkULdCU7kMlZ9UthllibdOSo6qAiN+yXNHqtgdTvFXMT4"
      crossorigin="anonymous"
    ></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

    <title>Projekt PAI</title>
  </head>
  <body class="bg-light">
    <header>
      <div class="text-center">
        <a href="/">
          <img
            src="/static/Images/logo.png"
            alt="Logo"
            width="150"
            height="130"
            class="d-inline-block align-text-center"
          />
        </a>
        <div class="container mt-2">
          <div class="row">
            <div class="col">
              <hr class="border border-dark" />
            </div>
          </div>
        </div>
      </div>
    </header>
    <main>{% block content %}{% endblock %}</main>
    <footer class="flex-grow-1">
      <div class="text-center">
        <div class="container mt-4">
          <div class="row">
            <div class="col">
              <hr class="border border-dark" />
            </div>
          </div>
        </div>
        <p class="fw-light">DW 2024</p>
      </div>
    </footer>
  </body>
</html>
